<ul>
{% for sg in all_songs %}
<li><b>{{ sg[0] }}</b> by {{ sg[1] }} <br> {{ sg[2] }} <br> Rating: {{ sg[3] }}
    <form method="POST" action="/update/{{ sg[0] }}">
    {{ form.hidden_tag() }}
    {{ form.rating.label }} {{ form.rating() }}
    {{ form.submit() }}
   </form>
 </li>
 <br>


 <br>


{% endfor %}
</ul>

{% if not all_songs %}
There are no saved favorite songs to show.
{% endif %}

<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

<a href="{{ url_for('index')}}">Return to add a new song</a>
