<div class="page-header">
    <h1>{% if num_songs %}{{ num_songs }}{% else %}0{% endif %} songs saved. </h1>
    <p><a href="{{ url_for('see_all') }}">See all songs.</a></p>
    <p><a href="{{ url_for('see_all_artists') }}">See all artists.</a></p>
</div>

<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.song.label }} {{ form.song() }} <br>
	{{ form.artist.label }} {{ form.artist() }} <br>
    {{ form.album.label }} {{ form.album() }} <br>
	{{form.genre.label }} {{ form.genre() }} <br>
    {{ form.rating.label }} {{ form.rating() }} <br>
	{{ form.submit() }}
</form>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
